---
// src/components/notes/StatusCard.astro
import Card from "./Card.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
	note: CollectionEntry<"status">;
}

const { note } = Astro.props;
---

<Card
  date={note.data.date}
  type="status"
  tags={note.data.tags}
  icon={note.data.icon}
  id={note.id}
  title={note.data.title}
>
  <slot />

  {
    note.data.mood && (
      <div class="mt-2 text-sm text-gray-600">Mood: {note.data.mood}</div>
    )
  }

  {
    note.data.location && (
      <div class="mt-1 text-sm text-gray-600">📍 {note.data.location}</div>
    )
  }
</Card>
