---
import conf from "~/site.config";
import { titleConstructor, descriptionConstructor } from "~/lib/meta";
import Analytics from "./analytics.astro";
import { getClacks } from "~/lib/fun";
const { title, description } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{titleConstructor(title)}</title>
  <meta name="description" content={descriptionConstructor(description)} />
  <meta name="author" content={conf.author.name} />
  <meta name="fediverse:creator" content={conf.author.social.fedi} />

  {/* og */}
  <meta property="og:title" content={titleConstructor(title)} />
  <meta
    property="og:description"
    content={descriptionConstructor(description)}
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={conf.site.url} />
  <meta property="og:image" content="https://ivy.rs/image.jpg" />
  <link rel="icon" href="https://fav.farm/%F0%9F%92%9C" />

  <meta name="theme-color" content="#5E409D" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <link rel="me" href="https://social.lol/@ivy" />

  {/* font awesome */}
  <link
    href="https://cdn.laker.tech/web/fa/css/fontawesome.css"
    rel="stylesheet"
  />
  <link href="https://cdn.laker.tech/web/fa/css/brands.css" rel="stylesheet" />
  <link href="https://cdn.laker.tech/web/fa/css/solid.css" rel="stylesheet" />

  <Analytics />

  <meta http-equiv="X-Clacks-Overhead" content={`GNU ${getClacks()}`} />
</head>
